div {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  main {
    padding: 16px;
  }

  footer {
    padding: 24px 0px 24px 0px;
  }

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
}